*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  height: 100%;
  width: 100%;
}

player-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--main-background);
}



